.wlcPageCsUbbLogo {
    position: absolute;
    width: 5%; /* dimensiune container imagine */
    top: 45%;
    left: 56.5%;
  }
  
  .wlcPageCsUbbLogo img {
    max-width: 100%; /* imaginea este 100% din container */
    height: auto;
  }
  