.month-year-input-one{
    position: absolute;
    top: 225px;
    right: 700px;
}

.month-year-input-two{
    position: absolute;
    top: 225px;
    right: 150px;
}

.month-year-input-one label {
    font-weight: 500;
    color: #009879;
    font-size: 16px;
    position: relative;
    bottom: 25px;
    left:67px;
  }

  .month-year-input-two label {
    font-weight: 500;
    color: #009879;
    font-size: 16px;
    position: relative;
    bottom: 25px;
    left:80px;
  }


  @media (max-width: 2000px) and (max-width: 1600px) {
    .month-year-input-one{
        position: absolute;
        top: 175px;
        right: 530px;
        transform: scale(0.9);
    }
    
    .month-year-input-two{
        position: absolute;
        top: 175px;
        right: 60px;
        transform: scale(0.9);
    }

}