.home-page-user-options-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 510px;
    left: 270px;
    transform: scale(1.2);
}

.home-page-user-options-cards {
    display: flex;
    gap: 100px;
}

.home-page-user-options-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 150px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 700ms;
}

.home-page-user-options-card p.tip {
    font-size: 1em;
    font-weight: 700;
}

.home-page-user-options-card p.second-text {
    font-size: 0.7em;
}

.home-page-user-options-card:hover {
    transform: scale(1.1, 1.1);
}

.red {
    background-color: #3b82f6;
}

.green {
    background-color: #22c55e;
}
.turquoise {
    background-color: #20b2aa;
}

.purple {
    background-color: #a855f7;
}

.blue {
    background-color: #f43f5e;
}

/* Pentru ecrane între 1281px și 1920px */
@media (max-width: 2000px) and (max-width: 1600px) {
    .home-page-user-options-wrapper {
        top: 525px;
        left: 185px;
    }
}
