.wlcPageImg {
    position: absolute;
    width: 42%; /* dimensiune container imagine */
    top: 19.5%;
    left: 3%;
    transform: scale(1.2);
  }
  
  .wlcPageImg img {
    max-width: 100%; /* imaginea este 100% din container */
    height: auto;
  }
  