.spendings-average-in-a-period {
    position: absolute;
    top: 380px;
    left: 770px;
}

.spendings-average-in-a-period-title {
    position: absolute;
    color: #dc3545;
    top: 280px;
    left: 780px;
    font-size: 20px;
}

.average-spendings-title {
    position: relative;
    bottom: 53px;
    right: 20px;
    font-size: 24px;
}

@media (max-width: 2000px) and (max-width: 1600px) {
    .spendings-average-in-a-period {
        position: absolute;
        top: 222px;
        left: 760px;
        font-size: 14px;
        transform: scale(0.95);
    }

    .spendings-average-in-a-period-title {
        position: absolute;
        color: #dc3545;
        top: 195px;
        left: 765px;
        font-size: 18px;
    }

    .average-spendings-title {
        position: relative;
        bottom: 53px;
        right: 20px;
        font-size: 24px;
    }
}