.spendings-average-in-a-period{
    position: absolute;
    top:400px;
    left:775px;
}

.spendings-average-in-a-period-title{
    position: absolute;
    color: #dc3545;
    top:290px;
    left:780px;
    font-size: 20px;
}

.average-spendings-title{
    position: relative;
    bottom:53px;
    right:20px;
    font-size: 24px;
}