.upload-bill-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 320px;
  left: 150px;
}

.upload-bill-form-container {
  height: 540px;
  width: 600px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 5px;
  background-color: rgba(0, 110, 255, 0.041);
}

.upload-bill-form-header {
  flex: 1;
  width: 100%;
  border: 2px dashed #4169e1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.upload-bill-form-header svg {
  height: 100px;
  transform: translateY(-75px);
}

.upload-bill-form-header p {
  text-align: center;
  color: black;
  transform: translateY(-75px);
}

.upload-bill-form-footer {
  background-color: rgba(0, 110, 255, 0.075);
  width: 100%;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border: none;
}

.upload-bill-form-footer svg {
  height: 130%;
  fill: royalblue;
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.upload-bill-form-footer p {
  flex: 1;
  text-align: center;
}

#file {
  display: none;
}


.analysis-result {
  padding: 20px;
  font-size: 1.1em;
  color: #333;
}

.confirm-button {
  width: 100%;
  height: 50px;
  background-color: #4169e1;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.confirm-button:hover {
  background-color: #2a4d9b;
}

.qr-section{
  position: absolute;
  top:68px;
  padding-top: 150px;
  transform: scale(0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  gap:10px;
}

@media (max-width: 2000px) and (max-width: 1600px) {
  .upload-bill-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 320px;
    left: 70px;
  }
}