.spendings-evolution-per-categories-pick-category-button{
    position: absolute;
    top:225px;
    right: 462px;
}

.spendings-evolution-per-categories-statistic{
    position: absolute;
    top:335px;
    left: 770px;
    z-index: 1;
}

.spendings-evolution-per-categories-statistic-title{
    position: relative;
    color: #dc3545;
    bottom:43px;
    right:-10px;
    font-size: 20px;
}

.spendings-evolution-per-categories-statistic-no-data{
    position: relative;
    bottom:53px;
    right:-10px;
    font-size: 20px;
}

.react-apexcharts .apexcharts-bar {
    cursor: pointer;
}


@media (max-width: 2000px) and (max-width: 1600px) {
    .spendings-evolution-per-categories-pick-category-button{
        position: absolute;
        top:175px;
        right: 335px;
        transform: scale(0.9);
    }

    .spendings-evolution-per-categories-statistic-title{
        position: absolute;
        color: #dc3545;
        top:-53px;
        left:50px;
        font-size: 18px;
        transform: scale(1.1);
    }

    .spendings-evolution-per-categories-statistic{
        position: absolute;
        top:270px;
        left: 720px;
        z-index: 1;
        transform: scale(0.9);
    }

    .spendings-evolution-per-categories-statistic-no-data{
        position: relative;
        bottom:23px;
        right:-38px;
        font-size: 20px;
    }
}