.spendings-evolution-per-categories-pick-category-button{
    position: absolute;
    top:225px;
    right: 462px;
}

.spendings-evolution-per-categories-statistic{
    position: absolute;
    top:335px;
    left: 800px;
    z-index: 1;
}

.spendings-evolution-per-categories-statistic-title{
    position: relative;
    color: #dc3545;
    bottom:43px;
    right:20px;
    font-size: 20px;
}

.spendings-evolution-per-categories-statistic-no-data{
    position: relative;
    bottom:53px;
    right:20px;
    font-size: 20px;
}