.wlcPageLogo {
    position: fixed;
    max-width: 700px;
    /* dimensiune container imagine */
    top: 21%;
    left: 51%;
}

.wlcPageLogo img {
    max-width: 95%;
    /* imaginea este 100% din container */
    height: auto;
}