.homePageImage {
    position: absolute;
    width: 80%; /* dimensiune container imagine */
    top: 1650px;
    left: 11%;
    padding: 48px;
  }
  
  .homePageImage img {
    max-width: 100%; /* imaginea este 100% din container */
    height: auto;
  }
  