.register-form-wrapper {
    width: 100%;
}

.register-container {
    position: absolute;
    top: 22%;
    left: 68%;
    transform: translateX(-50%) scale(0.9);
    max-width: 450px;
    background: linear-gradient(0deg, #ffffff 0%, #f4f7fb 100%);
    border-radius: 40px;
    padding: 25px 35px;
    border: 5px solid #ffffff;
    box-shadow: rgba(133, 189, 215, 0.88) 0px 30px 30px -20px;
    margin: 20px;
}

/* Stiluri pentru titluri și subtitluri */
.register-subtitle-register {
    font-size: 1.2rem;
    color: #666;
    position: relative;
    margin-left: 90px;
}

.register-subtitle-already-have-acc {
    font-size: 1.2rem;
    font-weight: 550;
    color: #666;
    position: relative;
    margin-left: 75px;
    cursor: pointer;
}

.register-heading {
    text-align: center;
    font-weight: 900;
    font-size: 2rem; /* Creștem dimensiunea fontului pentru o mai bună vizibilitate */
    color: rgb(16, 137, 211);
}

/* Formularele și butoanele de input */
.register-form {
    margin-top: 20px;
}

.register-form .register-input {
    width: 100%;
    background: white;
    border: none;
    padding: 15px 3px;
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: #cff0ff 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
}

.register-form .register-input::placeholder {
    color: rgb(170, 170, 170);
}

.register-form .register-input:focus {
    outline: none;
    border-inline: 2px solid #12b1d1;
}

/* Stiluri buton */
.register-form .register-button {
    display: block;
    width: 100%;
    font-weight: bold;
    background: linear-gradient(45deg, #FFFF00 0%, #dede05 100%);
    color: rgb(0, 0, 0);
    padding: 15px;
    margin: 20px auto;
    border-radius: 20px;
    border: none;
    transition: all 0.2s ease-in-out;
}

.register-button{
    cursor: pointer;
}

.register-form .register-button:hover {
    transform: scale(1.03);
    box-shadow: rgba(133, 189, 215, 0.88) 0px 23px 10px -20px;
}

/* Mesaje de eroare */
.register-error-message {
    color: red;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
}


@media (max-width: 2000px) and (max-width: 1600px) {
    .register-subtitle-register {
        font-size: 1.2rem;
        color: #666;
        position: relative;
        margin-left: 60px;
    }
    
    .register-subtitle-already-have-acc {
        font-size: 1.2rem;
        font-weight: 550;
        color: #666;
        position: relative;
        margin-left: 50px;
        cursor: pointer;
    }
  }