.last-5-bills-uploaded-text
{
    position:absolute;
    top:675px;
    left: 38%;
    font-size: 32px;
}


.last-12-month-spendings
{
    position:absolute;
    top:1080px;
    left: 35%;
    font-size: 32px;
}