.last-5-bills-uploaded-text
{
    position:absolute;
    top:450px;
    left: 38%;
    font-size: 32px;
}


.last-12-month-spendings
{
    position:absolute;
    top:860px;
    left: 35%;
    font-size: 32px;
}