.welcome-page-writing {
    position: fixed;
    top: 35%;
    left: 30%;
    width: 80%;
}

.message {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 46px;
    font-weight: 600;
    color: #183153;
    text-align: center;
    line-height: 1.5;
    max-width: 100%;
}