.aboutPageImg {
    position: absolute;
    max-width: 700px; /* dimensiune container imagine */
    top: 300px;
    left: 1000px;
  }
  
  .aboutPageImg img {
    max-width: 100%; /* imaginea este 100% din container */
    height: auto;
  }
  