.show-hide-upload-online-spending-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 100%;
    position: absolute;
    bottom: 247px;
    right: 410px;
  }
  
  .show-hide-upload-online-spending-button-wrapper {
    background: linear-gradient(to bottom, rgba(176, 164, 149, 0.4), transparent);
    padding: 4px;
    border-radius: 16px;
  }
  
  .show-hide-upload-online-spending-button {
    padding: 4px;
    border-radius: 12px;
    background: linear-gradient(to bottom, white, rgba(176, 164, 149, 0.4));
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease-in-out;
  }
  
  .show-hide-upload-online-spending-button:active {
    box-shadow: 0 0px 1px rgba(0, 0, 0, 0.5);
    transform: scale(0.995);
  }
  
  .show-hide-upload-online-spending-button-inner {
    background: linear-gradient(to bottom, rgba(176, 164, 149, 0.4), rgba(255, 255, 255, 0.8));
    border-radius: 8px;
    padding: 8px 16px;
  }
  
  .show-hide-upload-online-spending-button-content {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  
  .show-hide-upload-online-spending-button-text {
    font-weight: 600;
  }
  
  @media (max-width: 2000px) and (max-width: 1600px) {
    .show-hide-upload-online-spending-container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      height: 100%;
      position: absolute;
      bottom: 125px;
      right: 410px;
    }
  }