.side-bar-option-container {
    width: 250px;
    padding: 20px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
    position: relative;
    top: 258.9px;
    right:700px;
    color:black;
}

.side-bar-option-item {
    font-weight: 500;
    height: 56px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.side-bar-option-item:hover {
    background: #f4f4f4;
    color:black;
}

.side-bar-option-item:has(:checked) {
    color: #000000;
    background: #eff6ff;
    border: 1px solid #93c5fd;
}

.side-bar-option-icon {
    width: 35px;
}

.side-bar-option-radio {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 12px;
    accent-color: #2563eb;
}

.side-bar-option-icon--home {
    fill: #ff5722;
}

.side-bar-option-icon--tutorial {
    fill: #0277bd;
}

.side-bar-option-icon--expense-management {
    fill: #f7df1e;
}

.side-bar-option-icon--expense-journal {
    fill: #48ff00;
    width: 35px;
}

.side-bar-option-icon--expense-statistics {
    fill: #f7df1e;
}


  @media (max-width: 1600px) {
    .side-bar-option-container {
      width: 320px;
      padding: 20px;
      background: white;
      display: flex;
      flex-direction: column;
      gap: 12px;
      border-radius: 8px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.09);
      position: relative;
      top:165px;
      left:140px;
      transform: scale(0.9);
    }
  }