.viewAllSpendingsPageImage {
  width: 80%;
  margin: -150px 150px auto;
  padding-bottom: 15px;
  position: absolute; 
  margin-top: 100px;
}
  
  .viewAllSpendingsPageImage img {
    max-width: 100%; /* imaginea este 100% din container */
    height: auto;
  }
  