.logPageAppLogo {
    position: absolute;
    max-width: 700px; /* dimensiune container imagine */
    top: 165px;
    left: 620px;
}

.logPageAppLogo img {
    max-width: 60%; /* imaginea este 100% din container */
    height: auto;
}