.custom-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 150px;
  right: 23px;
}

.custom-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
}

.custom-stat-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 115px;
  height: 80px;
  transform: scale(1.5);
  /* controleaza dimensiunea */
  border-radius: 20px;
  background-color: #ffffff;
  padding: 15px;
}

.custom-title {
  font-size: 0.7em;
  font-weight: 700;
  letter-spacing: 1px;
}

.custom-bottom-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-icon {
  width: 20px;
}

.custom-star {
  fill: gold;
}

.custom-tag {
  fill: rgb(141, 214, 32);
}

.custom-thumb {
  fill: blueviolet;
}

.custom-value {
  font-size: 1em;
  font-weight: 700;
}




.custom-first-card {
  background-image: url('./../../../assets/img-card1.png');
  background-size: cover;
  background-position: 45px 55px;
  background-size: 50px;
  background-repeat: no-repeat;
  background-color: #f1f1f1;
  position: relative;
  transform: none;
}
.custom-first-card .custom-title,
.custom-first-card .custom-bottom-section {
  position: relative;
  z-index: 2;
}

.custom-first-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
  z-index: 1;
}




.custom-second-card {
  background-image: url('./../../../assets/img-card2.png');
  background-size: cover;
  background-position: -50px -38px;
  background-size: 250px;
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  position: relative;
  transform: none;
}

.custom-second-card .custom-title,
.custom-second-card .custom-bottom-section {
  position: relative;
  z-index: 2;
}

.custom-second-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
  z-index: 1;
}





.custom-third-card {
  background-image: url('./../../../assets/img-card3.png');
  background-size: cover;
  background-position: 65px 30px;
  background-size: 80px;
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  position: relative;
  transform: none;
}

.custom-third-card .custom-title,
.custom-third-card .custom-bottom-section {
  position: relative;
  z-index: 2;
}

.custom-third-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
  z-index: 1;
}


@media (max-width: 2000px) and (max-width: 1600px) {
  .custom-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 133px;
    right: 22px;
  }
}
